.blog-title {
  h2 {
    color: $dark-thm-main;
  }
}

.blog-list {
  max-width: $container-width;
  margin: 0 auto;

  .blog-title {
    a {
      text-decoration: none;
      font-size: 1.25rem;
    }
  }

  .blog-meta {
    div {
      display: inline;
    }

    .blog-date {
      color: $grey-light;
    }
  }
}

.page {
  max-width: $container-width;
  margin: 0 auto;

  .page-date {
    color: $grey-light;
  }

  .page-title {
    h2 {
      display: inline-block;
      margin-top: 0;

      .chevron {
        display: inline-flex;
        position: relative;
        bottom: -0.25rem;
      }
    }
  }
}