.blog-title {
  h2 {
    color: $dark-thm-main;
  }
}

.blog-list {
  max-width: $container-width;
  margin: 0 auto;

  .blog-title {
    a {
      text-decoration: none;
      font-size: 1.25rem;
    }
  }

  .blog-meta {
    div {
      display: inline-block;
    }

    .blog-date {
      color: $grey-light;
    }

    .blog-tag {
      text-transform: capitalize;
      font-size: 0.75rem;
      border-radius: 4px;
      border: 1px solid $orange-light;
      color: $orange-light;
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }
}

.page {
  max-width: $container-width;
  margin: 0 auto;

  .page-date {
    color: $grey-light;
  }
}