.blog-list {
  max-width: $container-width;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  h2 {
    margin: 0;
  }

  .blog-post {
    .blog-title {
      a {
        font-size: 1.25rem;
      }
    }
  
    .blog-meta {
      div {
        display: inline;
      }
  
      .blog-date {
        color: $grey-light;
      }
    }
  }
}

.page {
  max-width: $container-width;
  margin: 0 auto;

  .page-date {
    color: $grey-light;
  }

  .page-title {
    h2 {
      display: inline-block;
      margin-top: 0;

      .chevron {
        display: inline-flex;
        position: relative;
        bottom: -0.25rem;
      }
    }
  }

  .page-issue {
    font-style: italic;
    color: $grey-light;
  }
}