#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  
  li {
    display: inline-block;
    margin-right: 1.5rem;
    font-family: $header-font;
  }
  
  a {
    color: black;
    text-decoration: none;
    border-bottom: none;
  }

  .logo {
    font-size: 2rem;
    margin: 0;
  }
}

#content {
  margin: 8rem auto;
}

.intro {
  border: 1px solid $grey;
  padding: 0.5rem 2rem;
  max-width: $container-width;
  font-size: 1.5rem;
  margin: auto auto;

  .intro-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
  }
}