.project-list {
  max-width: $container-width;
  margin: 0 auto;

  .project-item {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
      "title meta"
      "summary summary";
  }
  
  .project-title {
    grid-area: title;
  }
  
  .project-meta {
    grid-area: meta;
    display: flex;
    justify-content: end;
    padding-right: 1.5rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    gap: 0.5rem;
  }
  
  .project-summary {
    grid-area: summary;
  }
}

.project-page {
  max-width: $container-width;
  margin: 0 auto;

  .project-title {
    h2 {
      margin-top: 0;
      display: flex;

      svg {
        align-self: center;
      }
    }
  }
  
  .project-meta {
    display: flex;
    padding-right: 1.5rem;
    padding-top: 0.5rem;
    padding-bottom: 1rem;
    gap: 0.5rem;
  }
}