{% extends "index.html" %}

{% block description %}Trevor Hilton Blog{% endblock description %}

{% block content %}
<div class="blog-list">
  <div class="section-title">
    <h2>Posts</h2>
  </div>
  {% for post in section.pages %}
    <div class="blog-title">
      <a href="{{ post.permalink }}">{{ post.title }}</a>
    </div>
    <div class="blog-meta">
      <div class="blog-date">{{ post.date | date(format="%d %B %Y") }}</div>
    </div>
    <div class="blog-summary">{{ post.summary | safe }}</div>
  {% endfor %}
</div>
{% endblock content %}