{% import "icons.html" as icons %}
{% extends "index.html" %}

{% block description %}{{ page.description }}{% endblock description %}

{% block content %}
<div class="page">
  <div class="page-title">
    <h2>
      <a href='{{ get_url(path="@/blog/_index.md") }}'>Posts</a>
      {{ icons::chevron_right() }}
      {{ page.title | safe }}
    </h2>
  </div>

  {% if page.date %}
    <div class="page-date">Posted: {{ page.date | date(format="%d %B %Y") }}</div>
  {% endif %}

  <div class="page-body">
    {{ page.content | safe }}
  </div>
</div>
{% endblock content %}