{% import "icons.html" as icons %}
{% extends "index.html" %}

{% block description %}{{ page.description }}{% endblock description %}

{% block content %}
<div class="page">
  <div class="page-title">
    <h2>
      <a href='{{ get_url(path="@/blog/_index.md") }}'>Posts</a>
      <div class="chevron">
        {{ icons::chevron_right() }}
      </div>
      <span>{{ page.title | safe }}</span>
    </h2>
  </div>

  {% if page.date %}
    <div class="page-date">Posted: {{ page.date | date(format="%d %B %Y") }}</div>
  {% endif %}

  <div class="page-body">
    {{ page.content | safe }}
  </div>

  <br />

  <div class="page-issue">
    <p>See a problem with this post? Please feel free to <a href="https://github.com/hiltontj/trevorjhilton/issues/new?template=blog-post-issue.md&title=[Blog Post] {{ page.title }}" target="_blank" rel="noopener noreferrer">submit an issue</a> on Github.</p>
  </div>
</div>
{% endblock content %}