{% import "icons.html" as icons %}
{% extends "index.html" %}

{% block description %}Trevor Hilton Projects{% endblock description %}

{% block content %}

<div class="project-list">
  <h2>Projects</h2>
  
  {% for project in section.pages %}
    <div class="project-item">
      <div class="project-title">
        <h3><a href="{{ project.permalink }}">{{ project.title }}</a></h3>
      </div>
      <div class="project-meta">
        {% if project.extra.website %}
          <a href="{{ project.extra.website }}" target="_blank" >
            {{ icons::website() }}
          </a>
        {% endif %}
        {% if project.extra.github %}
          <a href="{{ project.extra.github }}" target="_blank" >
            {{ icons::github() }}
          </a>
        {% endif %}
        {% if project.extra.docs %}
          <a href="{{ project.extra.docs }}" target="_blank" >
            {{ icons::docs() }}
          </a>
        {% endif %}
        {% if project.extra.package %}
          <a href="{{ project.extra.package }}" target="_blank" >
            {{ icons::package() }}
          </a>
        {% endif %}
      </div>
      <div class="project-summary">
        {{ project.summary | safe }}
      </div>
    </div>
  {% endfor %}
</div>
{% endblock content %}